[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_11793E345157355957202020FF101E0A-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 37 # update with offset from nozzle on your machine
backlash_comp: 0.00025
mesh_main_direction: x
mesh_runs: 2

[safe_z_home]
home_xy_position: 187, 185 # update for your machine
z_hop: 3

[bed_mesh]
zero_reference_position: 185, 188    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 10, 50
#    start point of bed mesh [X, Y]
mesh_max: 360, 325
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

[z_tilt_ng]
z_positions:
    14, 8
    187, 358
    364, 8
points:
    25, 15
    187, 325
    355, 15
speed: 350
horizontal_move_z: 12
min_horizontal_move_z: 1
adaptive_horizontal_move_z: True
retries: 5
retry_tolerance: 0.0075
increasing_threshold: 0.0000001
extra_points: 
    187, 96
    187, 270
    100, 183
    278, 183
averaging_len: 3
autodetect_delta: 1.0

[resonance_tester]
accel_chip: beacon
probe_points: 187, 185, 20