[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_11793E345157355957202020FF101E0A-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 37 # update with offset from nozzle on your machine
backlash_comp: 0.00025
mesh_main_direction: x
mesh_runs: 2
home_method: contact
home_method_when_homed: proximity
home_autocalibrate: unhomed
contact_max_hotend_temperature: 180 # increase to probe at print temps
home_xy_position: 187, 185 # update with your safe position
home_z_hop: 3
home_z_hop_speed: 30
home_xy_move_speed: 300


# [safe_z_home]
# home_xy_position: 187, 185 # update for your machine
# z_hop: 3

[bed_mesh]
zero_reference_position: 187, 185
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 20, 47
#    start point of bed mesh [X, Y]
mesh_max:350, 360
#    end point of bed mesh [X, Y]
probe_count: 10, 10
algorithm: bicubic
# faulty_region_1_min: 10, 47
# faulty_region_1_max: 35, 70
# faulty_region_2_min: 10, 93
# faulty_region_2_max: 23, 138
# faulty_region_3_min: 10, 220
# faulty_region_3_max: 23, 267
# faulty_region_4_min: 126, 139
# faulty_region_4_max: 153, 162
# faulty_region_5_min: 113, 232
# faulty_region_5_max: 153, 267
# faulty_region_6_min: 230, 47
# faulty_region_6_max: 269, 70
# faulty_region_7_min: 217, 128
# faulty_region_7_max: 270, 180
# faulty_region_8_min: 217, 232
# faulty_region_8_max: 270, 279
# faulty_region_9_min: 230, 336
# faulty_region_9_max: 256, 360
# faulty_region_10_min: 321, 80
# faulty_region_10_max: 360, 175
# faulty_region_11_min: 321, 220
# faulty_region_11_max: 360, 290
# faulty_region_12_min: 321, 325
# faulty_region_12_max: 360, 360



[z_tilt_ng]
z_positions:
    14, 8
    187, 358
    364, 8
points:
    25, 15
    187, 320
    355, 15
speed: 350
horizontal_move_z: 12
min_horizontal_move_z: 1
adaptive_horizontal_move_z: True
retries: 5
retry_tolerance: 0.0075
increasing_threshold: 0.0000001
extra_points: 
    187, 96
    187, 270
    100, 183
    278, 183
averaging_len: 3
autodetect_delta: 1.0

[resonance_tester]
accel_chip: beacon
probe_points: 187, 185, 20