[motor_constants LDO-42STH60-3004AH]
# Devil Design Kraken V2
resistance: 1.0
inductance: 0.0016
holding_torque: 0.8
max_current: 3.0
steps_per_revolution: 200

[autotune_tmc stepper_a]
motor: LDO-42STH60-3004AH 

[autotune_tmc stepper_b]
motor: LDO-42STH60-3004AH 

[autotune_tmc stepper_z]
motor: omc-17hs15-1504s

[autotune_tmc stepper_z1]
motor: omc-17hs15-1504s

[autotune_tmc stepper_z2]
motor: omc-17hs15-1504s